__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

.venv/
venv/
env/
ENV/

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

.env
.env.*
!.env.example

.coverage
htmlcov/
.tox/
.pytest_cache/

.mypy_cache/
.dmypy.json
dmypy.json

node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
